@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Here we are; Bravo Website!</h1>
    <p>Version 3.0</p>
    <p>Its today junior!!</p>
</div>

<div class="text-center">
    <p>This is our cool site, check it out!</p>
    <p>We mean business...</p>
</div>
